<!-- ======= Hero Section ======= -->
<section id="hero" class="hero-sub d-flex align-items-center">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 d-flex flex-column justify-content-center">
                <div>
                    <div class="text-moving aos-init aos-animate" data-aos="fade-up">
                        {{ heroContent.title }} <span *ngIf="heroContent.spanText">{{ heroContent.spanText }}</span>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section><!-- End Hero -->
