<header id="header" class="header fixed-top">
  <div class="container-fluid container-xl d-flex align-items-center justify-content-between">
    <a href="index.html" class="logo d-flex align-items-center">
      <img src="{{ headerContent.logoUrl }}" alt="">
    </a>
    <nav id="navbar" class="navbar">
      <ul>
        <li *ngFor="let menuItem of headerContent.menuItems" class="dropdown">
          <a *ngIf="menuItem.subMenu.length === 0" (click)="appMain.navigateToUsefulLinks(menuItem.link)" class="nav-link cursor-pointer">{{ menuItem.label }}</a>
          <a *ngIf="menuItem.subMenu.length > 0" (click)="toggleDropdown(menuItem)" (mouseenter)="toggleDropdown(menuItem)" class="nav-link cursor-pointer">{{ menuItem.label }}  <i class="pi pi-chevron-down"></i></a>
          <ul *ngIf="menuItem.subMenu.length > 0 && dropdownVisible && menuItem === menuItemSelected" class="dropdown-active">
            <li *ngFor="let supitem of menuItemSelected.subMenu">
              <a class="nav-link cursor-pointer" (click)="appMain.navigateToWhatWeDo(menuItem.link, supitem.id)">{{ supitem.label }}</a>
            </li>
          </ul>
        </li>
        <li><a class="getstarted nav-link cursor-pointer" (click)="toggleLanguage()">{{ currentLanguage === 'fr' ? 'Anglais' : 'Français' }}</a></li>
      </ul>
      <!-- Bouton mopile-nav-toggle -->
      <a class="p-element cursor-pointer block lg:hidden text-gray-400 mopile-nav-toggle">
        <i class="pi pi-bars text-4xl"></i>
      </a>
    </nav><!-- .navbar -->

  </div>
</header><!-- End Header -->
