<app-herosub [heroContent]="heroContent"></app-herosub>

<main id="main">
    <!-- ======= About Section ======= -->
    <section id="about" class="about">
        <div class="container aos-init aos-animate" data-aos="fade-up">
            <div class="row gx-0">
                <div class="col-lg-6 d-flex flex-column justify-content-center aos-init aos-animate" data-aos="fade-up"
                    data-aos-delay="200">
                    <div class="content">
                        <h2>{{ aboutContent.title }}</h2>
                        <p *ngFor="let item of aboutContent.description">{{ item.text }}</p>
                        <div class="text-center text-lg-start">
                            <a (click)="appMain.navigateToContact()"
                                class="btn-read-more d-inline-flex align-items-center justify-content-center align-self-center cursor-pointer">
                                <span>Contactez-nous</span>
                                <i class="pi pi-arrow-right"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div id="about-img" class="col-lg-6 d-flex align-items-center aos-init aos-animate" data-aos="zoom-out"
                    data-aos-delay="200">
                    <img [src]="aboutContent.imageUrl" class="img-fluid" alt="">
                </div>
            </div>
        </div>
    </section><!-- End About Section -->
</main><!-- End #main -->